# Demograhic Data Analysis with Pandas

### In this notebook, I will analyse demographic data extracted from the 1994 U.S. Census database. The goal is to explore the dataset using Python and Pandas, answering any key demographic questions including education, occupation, income and more.

## Import Libraries

In [280]:
import pandas as pd
import numpy as np

## Exploring Data

In [167]:
df = pd.read_csv('adult.data.csv')

In [168]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [171]:
df.shape

(32561, 15)

In [174]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

## Cleaning Data

In [177]:
#any duplicates
df.duplicated().any()

True

In [179]:
# Finding how many are duplicates
df.duplicated().sum()

24

In [181]:
#removing the duplicates
df = df.drop_duplicates()

In [182]:
df.shape

(32537, 15)

In [185]:
# finding how many null values
suspicious = ["?", "N/A", "None", "--", ""]

for col in df.columns:
    pct_missing = np.mean(df[col].isin(suspicious))
    print(f"{col} - {pct_missing:.4f}")

age - 0.0000
workclass - 0.0564
fnlwgt - 0.0000
education - 0.0000
education-num - 0.0000
marital-status - 0.0000
occupation - 0.0566
relationship - 0.0000
race - 0.0000
sex - 0.0000
capital-gain - 0.0000
capital-loss - 0.0000
hours-per-week - 0.0000
native-country - 0.0179
salary - 0.0000

In [187]:
(df.isin(suspicious)).sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     582
salary               0
dtype: int64

In [189]:
df['workclass'].value_counts()

workclass
Private             22673
Self-emp-not-inc     2540
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [191]:
df.replace("?", pd.NA, inplace=True)

In [193]:
df.isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     582
salary               0
dtype: int64

In [195]:
df = df.dropna()

In [197]:
df.isna().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

## Dataset is now clean

### How many people of each race are represented in this dataset?

In [201]:
race_count = df['race']

In [203]:
race_count.value_counts()

race
White                 25912
Black                  2816
Asian-Pac-Islander      894
Amer-Indian-Eskimo      286
Other                   231
Name: count, dtype: int64

### What is the average age of men?

In [206]:
average_age_men = df[df['sex'] == 'Male']['age']

In [208]:
round(average_age_men.mean(),1)

39.2

### What is the percentage of people who have a Bachelor's degree?

In [211]:
total = df['education'].value_counts()

In [213]:
total

education
HS-grad         9834
Some-college    6669
Bachelors       5042
Masters         1626
Assoc-voc       1307
11th            1048
Assoc-acdm      1008
10th             820
7th-8th          556
Prof-school      542
9th              455
12th             377
Doctorate        375
5th-6th          287
1st-4th          149
Preschool         44
Name: count, dtype: int64

In [215]:
percentage = round((total['Bachelors']/total.sum()) * 100,1)

In [217]:
percentage_string = f"The percentage of people who have a Bachelor's degree is {percentage}%"
print(percentage_string)

The percentage of people who have a Bachelor's degree is 16.7%

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [220]:
advanced = df[ (df['education'] == 'Masters') | (df['education'] == 'Bachelors') | (df['education'] == 'Doctorate')]

In [222]:
advanced_rich = advanced[advanced['salary'] == '>50K']

In [224]:
percentage_advanced = round((advanced_rich.shape[0]/df.shape[0]) *100, 1)

In [226]:
percentage_advanced

11.0

### What percentage of people without advanced education make more than 50K?

In [228]:
not_advanced = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

In [229]:
not_advanced_rich = not_advanced[not_advanced['salary'] == '>50K']

In [230]:
percentage_not_advanced = round((not_advanced_rich.shape[0]/not_advanced.shape[0])*100,1)

In [231]:
percentage_not_advanced

18.1

### What is the minimum number of hours a person works per week?

In [237]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [238]:
min_hours_per_week = df['hours-per-week'].min()

In [241]:
min_hours_per_week

1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [244]:
num_of_min_hours = df[df['hours-per-week'] == min_hours_per_week]

In [245]:
min_over_50k = num_of_min_hours[num_of_min_hours['salary'] == '>50K']

In [255]:
percentage = round(min_over_50k.shape[0]/num_of_min_hours.shape[0] * 100,2)

In [257]:
percentage

14.29

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [260]:
high_earner = df[df['salary'] == '>50K']['native-country'].value_counts()

In [262]:
country_earnings = (high_earner/df['native-country'].value_counts()) * 100

In [266]:
highest = country_earnings.idxmax()
highest, country_earnings.max()

('Taiwan', 45.23809523809524)

### Identify the most popular occupation for those who earn >50K in India.

In [274]:
rich_in_india = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

In [275]:
rich_in_india['occupation'].value_counts().idxmax()

'Prof-specialty'